<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    
    <body>
        <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
        <%= flash[:notice] %>
        <%= form_for @user do |f| %>
          <%= f.hidden_field :name, id: "name" %>
          <%= f.hidden_field :user_id, id: "user_id" %>
          <%= f.hidden_field :room_id, id: "room_id" %>
          <%= f.submit "登録する" %>
        <% end %>
    </body>
    <script>
      liff.init(
        data => {
          // Now you can call LIFF API
          const userId = data.context.userId;
          document.getElementById('room_id').value =  data.context.roomId;
          liff.getProfile()
          .then(profile => {
            document.getElementById('user_id').value = profile.userId;
            document.getElementById('name').value = profile.displayName;
          })

          .catch((err) => {
            console.log('error', err);
          });
        },
        err => {
          // LIFF initialization failed
        }
      );
    </script>
</html>