<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    
    <body>
      <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
      <div class="container mt-2">
        <div class="col-sm-offset-1 col-sm-10">
          <%= flash[:notice] %>
          <%= form_for @payment do |f| %>
            <%= f.hidden_field :payer_id, id: "payer_id" %>
            <%= f.hidden_field :room_id, id: "room_id" %>
            <%= f.label :title, "内容 " %>
            <%= f.text_field :title ,placeholder: "例：レンタカー代", class: "form-control mt-3" %>
            <%= f.label :price, "金額 " %>
            <%= f.text_field :price , class: "form-control mt-3" %>円
            <div class="text-center">
              <%= f.submit "支払いを登録", class: "btn btn-danger mt-3" %>
            </div>
          <% end %>
        </div>
      </div>

      <script>
        liff.init(
          data => {
            const userId = data.context.userId;
            document.getElementById('room_id').value =  data.context.roomId;
            liff.getProfile()
            .then(profile => {
              document.getElementById('payer_id').value = profile.userId;
            })
            .catch((err) => {
              console.log('error', err);
            });
          },
          err => {
            // LIFF initialization failed
          }
        );
      </script>
    </body>
</html>